@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@source "../../../packages/vite/vite.config.ts";

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --font-sofia: 'Sofia sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

:root {
  --ui-primary: black;
  --ui-text-highlighted: var(--ui-color-neutral-950);
}

.shiki {
  color: var(--shiki-light);
  background-color: var(--ui-color-neutral-100);
}

.shiki .line span {
  color: var(--shiki-light);
}


.dark {
  --ui-primary: white;
  --ui-text-highlighted: var(--ui-color-neutral-200);
}

.dark .shiki {
  color: var(--shiki-dark);
  background-color: var(--ui-color-neutral-800);
}

.dark .shiki .line span {
  color: var(--shiki-dark);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
