@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@source "../../../packages/vite/vite.config.ts";

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --font-sofia: 'Sofia sans', sans-serif;
  --font-mono: 'DM Mono', monospace;

  --color-cloudflare: #F63;
  --color-github: #5FED83;
  --color-slidev: #6fcce1;
  --color-vitepress: #a8b1ff;
  --color-pinia-colada: #fad541;
  --color-vite: #bcc0ff;
  --color-vue: #42d292;
}

:root {
  --ui-primary: black;
  --ui-text-highlighted: var(--ui-color-neutral-950);
}

.dark {
  --ui-primary: white;
  --ui-text-highlighted: var(--ui-color-neutral-200);
}
