.shiki {
  color: var(--shiki-light);
  background-color: var(--ui-color-neutral-100);
}

.shiki .line span {
  color: var(--shiki-light);
}

.dark .shiki {
  color: var(--shiki-dark);
  background-color: var(--ui-color-neutral-800);
}

.dark .shiki .line span {
  color: var(--shiki-dark);
}
